*{
    margin: 0px 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #48b8;
    background: linear-gradient(90deg, rgb(69, 143, 114) 0%, rgb(57, 155, 117) 27%, rgb(38, 151, 72) 98%);
    display: flex;
    justify-content: center; 
    align-items: center;
}
.board{
    height: 90vh;
    width: 85vw;
    background:rgb(155, 40, 88);
    background:linear-gradient(90deg, rgb(180, 173, 74) 0%, rgb(137, 155, 58) 0%, rgb(187, 170, 73) 100%, rgba(255,0,250,1) 100%);
}
.ball{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(246, 182, 4);;
    position: fixed;
    top: 45vh;
    left: 50vw;
}
.paddle{
    height: 120px;
    width: 15px;
    background-color: azure;
}
.left{
 position: fixed;
 top: 40vh;
 left: 8vw;
}
.right{
    position: fixed;
    top: 40vh;
    right: 8vw;
   }

.fa-circle{
 color:rgb(95, 10, 98);
 font-size: 2rem;
    }

.scorecard{
display: flex;
height: 60px;
justify-content: space-evenly;
align-items: center;
flex: 1 1 1;
}
.sep{
    width: 4px;
    height: 70%;
    background-color:black;
}
